
    {{#onecx-permissions}}{{#vendorExtensions.x-onecx.permissions}}
    @io.quarkus.security.PermissionsAllowed({ {{#entrySet}}{{#value}}"onecx:{{key}}#{{.}}"{{^-last}}, {{/-last}}{{/value}}{{/entrySet}} }){{/vendorExtensions.x-onecx.permissions}}{{/onecx-permissions}}
    {{#onecx-scopes}}{{#hasAuthMethods}}{{#authMethods}}{{#isOAuth}}
    @io.quarkus.security.PermissionsAllowed({ {{#scopes}}"{{scope}}"{{^-last}},{{/-last}}{{/scopes}} }){{/isOAuth}}{{/authMethods}}{{/hasAuthMethods}}{{/onecx-scopes}}
